*{
    margin: 0;
    padding: 0;
}
body{
    text-align: center;
    box-sizing: border-box;
    background: linear-gradient(to right, rgb(114, 219, 251), rgb(33, 161, 199), rgb(0, 111, 145));
    color: white;
    font-size: 1.6rem;
    font-weight: bold;
}
h1{
    font-family: 'Segoe UI';
    color: white;
}
input, button, select{
    background-color: black;
    border-radius: 8px;
    text-align: center;
    color: green;
    padding: 8px;
    font-size: 1.4rem;
}